body{
	background-color: rgb(247, 251, 255);
}

.flex-container {
	display: flex;
	flex-direction: column;
	background-color: rgb(190, 194, 194);
  }

h1{
	--font-size-large: 2.5rem;
	text-align: center;
	background-color: rgb(190, 194, 194);
	border-style: solid;
	border-width: 2px 3px;
	border-radius: 8px;
}

p{
	text-align: center;
	font-size: font-size-base;
}

button{
	padding: 2px 5px;
	font-size: 14px;
	background-color: rgb(244, 249, 249);
	position: absolute;
	bottom: 20%;
	left: 5%;
}

address{
	position: absolute;
	bottom: 10;
}

label{
	align-content: baseline;
}

